* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Rubik";
}
body {
}

hr {
  margin: 1px;
}

.login-bg-container {
  background-image: url("./images/cyclist-422139_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
}

.login {
  width: 30%;
  height: 285px;
  background-color: rgb(0 0 0 / 50%);
  margin: auto;
  box-shadow: 8px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #323435;
}

.signup {
  height: 355px;
}

section h5 {
  color: rgb(247, 255, 255);
  text-shadow: 1px 1px 2px rgb(44, 45, 45);
  margin: 0px;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  font-size: 20px;
}

.login h5,
.signup h5 {
  border-bottom: 3px solid;
}

h5 {
  margin-bottom: 0;
}

.controls {
  width: 100%;
  border: 1px, solid white;
  margin-bottom: 15px;
  padding: 11px 10px;
  background-color: #bbf2f2;
  font-size: 14px;
  font-weight: bold;
}

.button {
  width: 50%;
  height: 40px;
  background: #bbf2f2;
  border: none;
  color: rgb(33, 31, 31);
  margin: 16px auto;
  display: block;
  text-align: center;
}

/* HOMEPAGE */

.home {
  background-color: rgba(157, 182, 184, 0.17);
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  width: 100%;
}

.form-panel {
  background-image: url("./images/foto3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 707px;
  width: 100%;
}
.form-panel .header a {
  background-color: #f2ebe9;
  border-radius: 20px;
  padding: 8px;
}
.information-form {
  display: flex;
  flex-direction: column;
  color: #4d3439;
  font-size: 20px;
  margin-left: 20px;
  align-items: center;
  width: 400px;
}
.information-form span {
  color: rgb(169 14 67);
}

.information-form h2 {
  text-shadow: 2px 3px #5856564f;
  font-size: 60px;
  margin: 10px;
  margin-bottom: 20px;
}

.information-paragraph {
  margin-bottom: 200px;
}
.register-form {
  background-color: rgba(242, 235, 233, 0.58);
  display: flex;
  flex-direction: column;
  width: 332px;
  padding: 30px 40px;
  border-radius: 15px;
}

.register-form input {
  border-radius: 15px;
  border: none;
  height: 25px;
  background: #d9d9d9;
  margin: 15px 0;
}
.register-form a {
  text-align: center;
}

.information-panel {
  color: #4d3439;
  padding: 0 20px;
  margin-bottom: 30px;
}

.information-panel h2 {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 60px;
}
.information-panel h3 {
  font-size: 35px;
  padding-bottom: 30px;
}
.information-panel span {
  color: rgb(169 14 67);
}

.information-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 60px;
}
.information-panel img {
  border-radius: 100%;
  width: 450px;
  height: 450px;
}

.information-text {
  width: 35%;
}
.information-text p {
  font-size: 22px;
  text-align: justify;
}

.information-steps {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.step {
  display: flex;
}
.step-number {
  color: rgb(169 14 67);
  font-size: 60px;
  margin-right: 10px;
}
.step-text h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.home a {
  text-decoration: none;
  color: #4d3439;
}
